*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #FFEDDB;
    font-family: 'Sono', sans-serif;
}

header{
    background-color: #BF9270;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
footer{
    background-color: #BF9270;
    padding: 15px;
    text-align: center;
}

header h1{
    font-weight: bold;
}
ul li{
    list-style: none;
    font-size: 1.5rem;
}
ul li a{
    color: black;
    text-decoration: none;
}
nav ul{
    padding-bottom: 15px;
    text-align: center;
    display: flex;
}
nav ul li{
    margin: 0px 10px;
    font-weight: bold;
    transition: all;
}

.header{
    position: sticky;
    top: 0px;
}
.header h1{
    padding: 15px;
}

.footer-redes{

}


/* INICIO */
.main-inicio{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 70px;
}
.parrafo-inicio {
    margin: 20px;
    width: 500px;
}
.parrafo-inicio p {
    margin: 20px 0px;
    text-align: justify;
    font-size: 1.2rem;
    font-weight: bold;
}
.presentacion-inicio img{
    margin: 30px;
    width: 650px;
    border-radius: 10px;
    border: solid #BF9270;
}


/* TIENDA */
.elem-tienda{
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.elem-tienda__tarjeta{
    margin: 10px;
    padding: 20px;
    background-color: #E3B7A0;
    border-radius: 15px;
    text-align: center;
    width: 300px;
}
.elem-tienda__tarjeta img{
    width: 260px;
    border: 2px solid #EDCDBB;
    border-radius: 15px;
}


/* PERSONALIZADO */
.main-pers {
    display: flex;
    justify-content: center;
    align-content: center;
}
.tarjeta-pers {
    margin: 152px;
    width: 800px;
    padding: 40px 80px 70px 80px;
    border-radius: 20px;
    background-color: #E3B7A0;
}
.formulario{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.formulario input{
    background: none;
    border: none;
    outline: none;
    border-bottom: dotted #BF9270;
    font-size: medium;    
    width: 300px;
}
.formulario select{
    background: none;
    background-color: #E3B7A0;
    border: none;
    outline: none;
    border: solid #BF9270;
    border-radius: 10px;
    padding: 2px;
}
.formulario select:hover{
    border: solid #EDCDBB;
    background-color: #EDCDBB;
}
.formulario-btn {
    text-decoration: none;
    border: none;
    font-weight: bold;
    color: black;
    background-color: #EDCDBB;
    border-radius: 5px;
    position: relative;
    top: 20px;
    padding: 10px;
    margin: 5px;
    transition: all;
}
.formulario-btn:hover{
    background-color:  #FFEDDB;
}
.formulario-btn:active{
    background-color: #E3B7A0;
}
.cargar-img-form input{
    border: dashed #BF9270;
    height: 199px;
}
.pedido-form{
    grid-column-start: 1;
    grid-column-end: 3;
}
.formulario-pedido{
    border:none;
    border: dashed #BF9270;
    background: none;
    width: 630px;
    height: 100px;
    font-size: large;
}


/* GALERIA */
.titulo-tienda {
    text-align: center;
    font-size: 1.8rem;
    margin: 60px 0px;
}
.fotos-galeria {
    margin: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 30px;
}
.fotos-galeria img{
    width: 430px;
    border: 2px solid #bf9270;
    transition: all 0.3s;
}
.fotos-galeria img:hover {
    transform: scale(1.3);
}

/* CONTACTO */
.tarjeta-contacto {
    margin: 80px 400px;
    padding: 40px 80px;
    border-radius: 20px;
    background-color: #E3B7A0;
}
.tarjeta-contacto li{
    margin: 30px 0px;
}
.tarjeta-contacto h2{
    margin-bottom: 60px;
}


/*          MEDIA QUERIES           */
/*       Celular (hasta 576)        */

@media only screen and (max-width: 576px) {
    /* INICIO */
    .main-inicio{
        flex-wrap: wrap;
        margin: 20px;
    }
    .parrafo-inicio p {
        margin: 0px;
    }
    .presentacion-inicio img{
        margin: 10px;
        width: 500px;
    }
  
    /* TIENDA */
    .elem-tienda{
        margin: 10px 0px;
        justify-content: space-evenly;
    }
    .elem-tienda__tarjeta{
        margin: 10px 0px;
        padding: 10px;
        width: 250px;
    }
    .elem-tienda__tarjeta img{
        width: 230px;
        border: 3px solid #EDCDBB;
    }

    /* PERSONALIZADO */
  
  
    /* GALERIA */
    .titulo-tienda {
        margin: 10px;
        text-align: center;
        font-size: 1.2rem;
        margin: 30px 0px;
    }
    .fotos-galeria {
        margin: 0px 30px;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        justify-self: center;
    }
    .fotos-galeria img{
        width: 240px;
    }
    .fotos-galeria img:hover {
        transform: scale(1.2);
    }
  
  
    /* CONTACTO */

}