* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFEDDB;
  font-family: "Sono", sans-serif;
}

ul li {
  list-style: none;
  font-size: 1.5rem;
}
ul li a {
  color: black;
  text-decoration: none;
}

h3 {
  margin: 0;
}

header {
  background-color: #BF9270;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  z-index: 1;
  position: sticky;
  top: 0px;
}
header h1 {
  font-weight: bold;
  margin: 0;
  padding: 10px;
}
header nav ul {
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
}
header nav ul li {
  margin: 0px 10px;
  font-weight: bold;
  transition: all;
}

@media only screen and (max-width: 425px) {
  header {
    height: auto;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: inherit;
  }
  header h1 {
    font-size: 3rem;
    height: 80px;
    border-style: none none solid none;
    border-width: 2px;
    border-color: #FFEDDB;
  }
  header nav ul {
    margin: 15px 0;
    flex-direction: column;
  }
  header nav ul li {
    font-size: 1.2rem;
    padding: 5px;
  }
  header nav ul li a {
    border: 2px solid #E3B7A0;
    padding: 3px;
    border-radius: 5px;
  }
}
.footer {
  background-color: #BF9270;
  width: 100%;
  padding: 15px;
  z-index: 1;
}
.footer .footer-grupo1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 50px;
  padding: 15px 0px;
}
.footer .footer-grupo1 .box h2 {
  font-weight: bold;
  margin-bottom: 25px;
  font-size: 20px;
}
.footer .footer-grupo1 .box p {
  margin-bottom: 10px;
}
.footer .footer-grupo1 .redes {
  display: grid;
  grid-template-columns: repeat(2, auto);
  text-decoration: none;
  line-height: 45px;
  margin-right: 10px;
}
.footer .footer-grupo1 .redes a {
  text-decoration: none;
  color: black;
  margin-right: 25px;
}
.footer .footer-grupo1 .redes a img {
  margin-right: 5px;
  height: 30px;
  width: 30px;
}
.footer .footer-grupo2 {
  padding: 15px 10px;
  text-align: center;
}
.footer .footer-grupo2 small {
  font-size: 15px;
}

@media only screen and (max-width: 425px) {
  .footer .footer-grupo1 {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    text-align: center;
  }
  .footer .footer-grupo1 .box h2 {
    margin-bottom: 5px;
  }
  .footer .footer-grupo1 .redes {
    grid-template-columns: repeat(1, auto);
    margin-right: 0px;
  }
  .footer .footer-grupo1 .redes a {
    margin-right: 0px;
  }
}
.cuerpo-inicio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  margin: 70px;
}
.cuerpo-inicio .limitador-carousel {
  margin: 20px;
  width: 900px;
  border: 4px solid #EDCDBB;
}
.cuerpo-inicio .parrafo-inicio {
  margin: 20px;
  width: 500px;
}
.cuerpo-inicio .parrafo-inicio h3 {
  margin: 20px 0px 20px 20px;
  text-align: justify;
  font-weight: bold;
}
.cuerpo-inicio .parrafo-inicio p {
  margin: 20px 0px;
  text-align: justify;
  font-size: 1.2rem;
  font-weight: bold;
}

@media only screen and (max-width: 425px) {
  .cuerpo-inicio {
    flex-wrap: wrap;
    margin: 10px;
  }
  .cuerpo-inicio .limitador-carousel {
    margin: 0px;
    border: 2px solid #EDCDBB;
  }
  .cuerpo-inicio .parrafo-inicio {
    margin: 0px;
  }
  .cuerpo-inicio .parrafo-inicio h3 {
    margin: 20px 0px;
    text-align: center;
    font-size: 2rem;
  }
  .cuerpo-inicio .parrafo-inicio p {
    margin: 20px 0px;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
  }
}
.main-tienda {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}
.main-tienda .texto-tienda {
  margin-top: 60px;
  width: 1700px;
  display: grid;
  justify-items: center;
}
.main-tienda .texto-tienda .precio {
  display: flex;
}
.main-tienda .texto-tienda .precio h3 {
  border: 2.5px dashed #E3B7A0;
  border-radius: 5px;
  background-color: #EDCDBB;
}
.main-tienda .texto-tienda p {
  margin: 0;
  font-size: 1.5rem;
}
.main-tienda .elem-tienda {
  margin: 50px;
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 30px;
  width: 1840px;
  justify-items: center;
  justify-content: center;
}
.main-tienda .elem-tienda .tarjeta-tienda {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
  grid-template-rows: 226.72px 63px auto;
  padding: 20px;
  background-color: #E3B7A0;
  border-radius: 10px;
  border: 2px solid #EDCDBB;
  text-align: center;
  width: 344px;
}
.main-tienda .elem-tienda .tarjeta-tienda img {
  width: 300px;
  border: 2px solid #EDCDBB;
  border-radius: 7px;
}
.main-tienda .elem-tienda .tarjeta-tienda .nombre-tela {
  display: grid;
  align-items: center;
  border: 2px solid #EDCDBB;
  border-radius: 7px;
  padding: 2px;
  margin: 0px;
  line-height: 100%;
}

@media only screen and (max-width: 425px) {
  .main-tienda {
    margin: 0px 10px;
  }
  .main-tienda .texto-tienda {
    margin-top: 30px;
    width: auto;
  }
  .main-tienda .texto-tienda .precio {
    flex-wrap: wrap;
    justify-content: center;
  }
  .main-tienda .texto-tienda .precio h3 {
    border: 3px dashed #E3B7A0;
    padding: 5px;
    width: auto;
    margin: 10px 0px;
    font-size: 1.5rem;
    font-weight: 600;
  }
  .main-tienda .texto-tienda p {
    text-align: center;
    font-size: 1.2rem;
  }
  .main-tienda .elem-tienda {
    margin: 30px 0px;
    grid-template-columns: repeat(1, auto);
    width: auto;
  }
  .main-tienda .elem-tienda .tarjeta-tienda {
    gap: 15px;
    grid-template-rows: 189.11px 50px auto;
    padding: 15px;
    width: 284px;
  }
  .main-tienda .elem-tienda .tarjeta-tienda img {
    width: 250px;
  }
  .main-tienda .elem-tienda .tarjeta-tienda .nombre-tela {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0px;
  }
}
.cuerpo-pers {
  display: flex;
  justify-content: center;
  align-content: center;
}
.cuerpo-pers .tarjeta-pers {
  margin: 152px;
  width: 800px;
  padding: 40px 80px 70px 80px;
  border-radius: 20px;
  background-color: #E3B7A0;
}
.cuerpo-pers .tarjeta-pers .formulario {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.cuerpo-pers .tarjeta-pers .formulario input {
  background: none;
  border: none;
  outline: none;
  border-bottom: dotted #BF9270;
  font-size: medium;
  width: 300px;
}
.cuerpo-pers .tarjeta-pers .formulario select {
  background: none;
  background-color: #E3B7A0;
  border: none;
  outline: none;
  border: solid #BF9270;
  border-radius: 10px;
  padding: 2px;
}
.cuerpo-pers .tarjeta-pers .formulario select:hover {
  border: solid #EDCDBB;
  background-color: #EDCDBB;
}
.cuerpo-pers .tarjeta-pers .formulario .cargar-img-form input {
  border: dashed #BF9270;
  height: 199px;
}
.cuerpo-pers .tarjeta-pers .formulario .pedido-form {
  grid-column-start: 1;
  grid-column-end: 3;
}
.cuerpo-pers .tarjeta-pers .formulario .formulario-pedido {
  border: none;
  border: dashed #BF9270;
  background: none;
  width: 630px;
  height: 100px;
  font-size: large;
}
.cuerpo-pers .tarjeta-pers .form-btn {
  text-decoration: none;
  border: none;
  font-weight: bold;
  color: black;
  background-color: #EDCDBB;
  border-radius: 5px;
  position: relative;
  top: 20px;
  padding: 10px;
  margin: 5px;
  transition: all;
}
.cuerpo-pers .tarjeta-pers .form-btn:hover {
  background-color: #FFEDDB;
}
.cuerpo-pers .tarjeta-pers .form-btn:active {
  background-color: #E3B7A0;
}

.titulo-tienda {
  text-align: center;
  font-size: 1.8rem;
  margin: 60px 0px;
}

.fotos-galeria {
  margin: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 30px;
}
.fotos-galeria img {
  width: 430px;
  border: 2px solid #BF9270;
  transition: all 0.3s;
}
.fotos-galeria img:hover {
  transform: scale(1.3);
}

@media only screen and (max-width: 425px) {
  .titulo-tienda {
    margin: 10px;
    text-align: center;
    font-size: 1.2rem;
    margin: 30px 0px;
  }
  .fotos-galeria {
    margin: 0px 30px;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
    justify-self: center;
  }
  .fotos-galeria img {
    width: 240px;
  }
  .fotos-galeria img:hover {
    transform: none;
  }
  .fotos-galeria img:active {
    transform: scale(1.2);
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
  }
}
.tarjeta-contacto {
  margin: 80px 400px;
  padding: 40px 80px;
  border-radius: 20px;
  background-color: #E3B7A0;
}
.tarjeta-contacto li {
  margin: 30px 0px;
}
.tarjeta-contacto h2 {
  margin-bottom: 60px;
}

/*# sourceMappingURL=style.css.map */
