.tarjeta-contacto {
    margin: 80px 400px;
    padding: 40px 80px;
    border-radius: 20px;
    background-color: #E3B7A0;
    li{
        margin: 30px 0px;
    }
    h2{
        margin-bottom: 60px;
    }
}