.main-galeria{
    display: grid;
    justify-content: center;
    gap: 60px;
    margin: 80px 0px;
    .titulo-tienda {
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
    }
    .fotos-galeria {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        gap: 30px;
        width: 1810px;
        img{
            width: 430px;
            border: 3px solid $Paleta-Oscuro;
            transition: all 0.3s;
            &:hover{
                transform: scale(1.1);
            }
        }
    }
}

//              MEDIA QUERIES
//          Celular (hasta 425px)

@media only screen and (max-width: $AnchoCelular) {
    .main-galeria{
        margin: 40px 0px;
        gap: 20px;
        .titulo-tienda{
            text-align: center;
            font-size: 1.2rem;
            margin: 20px 20px;
        }
        .fotos-galeria {
            margin: 0px 30px;
            grid-template-columns: repeat(1, 1fr);
            gap: 15px;
            justify-self: center;
            width: 240px;
            img{
                width: 240px;
                &:hover{
                    transform: none;
                }
                &:active{
                    transform: scale(1.3);
                    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
                }
            }
        }
    }
}